*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

main{
    background-image: url(Images/background.jpg);
    height: 80vh;
}
main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
}